body {
	background: #f1f1f1;
	margin: 10px auto;
	width: 90%;
}
.banner {
	background-image: url(../images/banner.jpg);
    background-position: 30% 50%;
	display: block;
    height: 180px;
}
.header-menus {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}
.header-menus li {
	display: inline-block;
}
.header-menus a {
	color: white;
	padding: 16px;
	text-decoration: none;
}
.header-menus a:hover {
	background-color: #777;
	padding: 16px;
}
.page-content {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 15px;
    width: 80%;
}
.title-contents {
    display: inline-block;
    font-size: 26px;
	font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}
.large-image {
	margin-right: 20px;
    float: left;
    height: 300px;
    width: 40%;
}
.author-contents {
	margin-top: 10px;
	margin-left: 160px;
}
.date-contents {
	margin-left: 160px;
}
.post-contents {
	border-bottom: 2px solid grey;
	padding-bottom: 10px;
}
.post-contents:last-child  {
	border: none;
}
.author,
.date {
	font-weight: bold;
}
.post-content {
	width: 80%;
}
.widget-area{
    box-sizing: border-box;
    display: inline-block;
	float: right;
    font-weight: bold;
    padding: 30px 10px 0 0;
    vertical-align: top;
    width: 19%;
}
.posts {
	padding: 0 15px;
}
#post-sidebar {
	padding: 0px;
}
#post-sidebar h2 {
    color: #281c84;
	margin: 0px;
}
#post-sidebar ul {
	margin: 0px;
}
#post-sidebar li {
	list-style-type: none;
}
#post-sidebar li>a {
    color: #281c84;
    font-family: cursive;
    line-height: 35px;
	margin-left: -20px;
    text-decoration: none;
    transition: font-size 2s;
}
#post-sidebar li>a:hover {
	font-size: 20px;
}
.title-content {
    font-size: 40px;
    font-style: italic;
	text-align: center;
}
.thumbnail-image{
    float: left;
    margin: 15px 10px 0px 0px;
}
.author-content {
	clear: both;
}
.footer-menus {
	background-color: #f1f1f1;
}
.footer-menus ul {
    padding: 0px;
    text-align: center;
}
.footer-menus li {
	display: inline-block;
}
.footer-menus a {
    border-radius: 15px;
    color: black;
    font-family: cursive;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
}
.footer-menus a:hover {
	background-color: #c1c1c1;
	padding: 16px;
	transition: opacity 2.5s, background-color 2.5s;
}
/*SEARCH PAGE*/
#sidebar {
    display: none;
}
.entry-summary {
    width: 1024px;
}
/*SEARCH PAGE END*/
.sharebuttons {
    text-align: center;
}
.sharebuttons a {
    display: inline-block;
    height: 26px;
    width: 100px;    
}
.facebookshare {
    background: url(../images/facebook_share.jpg) no-repeat;
}
.twittershare {
    background: url(../images/twitter_share.jpg) no-repeat;
}
.entry-content {
    width: 1024px;
}
.screen-reader-text {
	display: none;
}
.nav-links {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.nav-links a {
    text-decoration: none;
}
.nav-previous,
.nav-next {
    display: inline-block;
    margin: 0 5px 0 5px;
}
.nav-previous a,
.nav-next a{
    text-decoration: none;
}
 
.crunchify-link {
    padding: 2px 8px 4px 8px !important;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    margin-right: 2px;
    cursor: pointer;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    margin-top: 2px;
    display: inline-block;
    text-decoration: none;
}
 
.crunchify-link:hover,.crunchify-link:active {
    color: white;
}
 
.crunchify-twitter {
    background: #00aced;
}
 
.crunchify-twitter:hover,.crunchify-twitter:active {
    background: #0084b4;
}
 
.crunchify-facebook {
    background: #3B5997;
}
 
.crunchify-facebook:hover,.crunchify-facebook:active {
    background: #2d4372;
}
 
.crunchify-googleplus {
    background: #D64937;
}
 
.crunchify-googleplus:hover,.crunchify-googleplus:active {
    background: #b53525;
}
 
.crunchify-pinterest {
    background: #bd081c;
}
 
.crunchify-pinterest:hover,.crunchify-pinterest:active {
    background: #bd081c;
}
 
.crunchify-linkedin {
    background: #0074A1;
}
 
.crunchify-linkedin:hover,.crunchify-linkedin:active {
    background: #006288;
}
 
.crunchify-social {
    margin: 20px 0px 25px 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    text-align: center;
}


@media only screen and (max-width: 900px) {
	.page-content {
		width: 100%;
	}
	.widget-area{
	    padding-left: 15px;
		width: 100%;
	}
}