body {
	background: #f1f1f1;
	margin: 10px auto;
	width: 90%;
}
.banner {
	background-image: url(../images/banner.jpg);
    background-position: 30% 50%;
	display: block;
    height: 180px;
}
.menus {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}
.menus li {
	display: inline-block;
}
.menus a {
	color: white;
	padding: 16px;
	text-decoration: none;
}
.menus a:hover {
	background-color: #777;
	padding: 16px;
}
.page-content {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 15px;
    width: 80%;
}
.author-content {
	margin-top: 10px;
}
.date-content {
	padding-bottom: 10px;
	border-bottom: 2px solid grey;
}
.date-content:last-child  {
	border: none;
}
.author,
.date {
	font-weight: bold;
}
.widget-area{
    box-sizing: border-box;
    display: inline-block;
	float: right;
    font-weight: bold;
    padding: 30px 10px 0 0;
    vertical-align: top;
    width: 19%;
}

.posts {
	padding: 0 15px;
}
@media only screen and (max-width: 900px) {
	.page-content {
		width: 100%;
	}
	.widget-area{
	    padding-left: 15px;
		width: 100%;
	}
}